<app-menu></app-menu>

<div class="container margen">
  <div class="columna">
    <img [src]="libro?.url_imagen" (error)="imagenPorDefecto($event)" class="img-fluid-info-libro" alt="Portada del libro">
  </div>
  <div class="columna">
    <h1>{{ libro?.titulo }}</h1>
    <p><strong>ISBN:</strong> {{ libro?.isbn }}</p>
    <p><strong>Editorial:</strong> {{ libro?.editorial }}</p>
    <p><strong>Año de publicación:</strong> {{ libro?.anyo_publicacion }}</p>
    <p *ngIf="libro?.ubicacion_estudio">
      <strong>Ubicación del Estudio: </strong> <a [href]="libro?.ubicacion_estudio | sanitizeUrl" target="_blank">Enlace al estudio</a>
    </p>
    <p *ngIf="!libro?.ubicacion_estudio"><strong>Ubicación del Estudio: </strong> No disponible</p>
    <h2>Descripción del libro</h2>
    <p>{{ libro?.descripcion || 'Descripción no proporcionada' }}</p>
    <h2>Puntuación del libro</h2>
    <div class="rating-info">
      <p-rating [(ngModel)]="puntuacion" [readonly]="true" [cancel]="false"></p-rating>
      <p-button icon="pi pi-info-circle" [rounded]="true" [text]="true" routerLink="/guia-analisis" />
    </div>
    <div class="puntuacion-meter">
      <div *ngFor="let puntuacion of valoresPuntuaciones" class="meter-container">
        <div class="meter-label">{{ puntuacion.label }}</div>
        <div class="meter-bar-wrapper">
          <div class="meter-bar" [style.width.%]="calcularAncho(puntuacion.value, puntuacion.max)" [style.backgroundColor]="puntuacion.color"></div>
        </div>
        <div class="meter-value">{{ puntuacion.value }}%</div>
      </div>
    </div>
  </div>
</div>



