
.logo-sidebar {
    height: 40px; 
    width: auto;
    margin-right: 10px; 
}



.close-btn {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

  }
  

.boton-sidebar {
    background-color: var(--color-de-fondo);
    border: none;
    color: var(--color-de-texto);
    text-align: left;
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
  
.boton-sidebar:hover, .boton-sidebar:focus {
    background-color: var(--color-de-fondo-hover);
    cursor: pointer;
    outline: none;
}
.sidebar-container {
    height: 100vh;
    overflow-y: auto;
    width: 320px; 
    position: fixed;
}
