<p-sidebar [(visible)]="visible" [baseZIndex]="10000" [modal]="true" (onHide)="cerrarSidebar()">
  
    <ng-template pTemplate="headless">
      <div class="sidebar-container">
    <div class="sidebar-header">
        <img src="../../../assets/images/principal-logo.png" alt="Logo" class="logo-sidebar">
      <button class="close-btn" (click)="cerrarSidebar()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    
    <button type="button" class="boton-sidebar" routerLink="/panel-admin">
      <i class="pi pi-ellipsis-v"></i>
      Panel de administración
  </button>

    <p-accordion [multiple]="true">
      <p-accordionTab header="Pantallas Generales" [selected]="true">
        <ul class="elementos-sidebar">
            <li *ngFor="let pantalla of pantallasGenerales">
                <button type="button" class="boton-sidebar" (click)="seleccionar(pantalla.ruta)">
                    <i [ngClass]="pantalla.icono"></i>
                    {{ pantalla.nombre | titlecase }}
                </button>
            </li>
        </ul>
        </p-accordionTab>
        <p-accordionTab header="Gestión de usuarios" [selected]="true">
            <ul class="elementos-sidebar">
            <li *ngFor="let usuario of usuario">
                <button type="button" class="boton-sidebar" (click)="seleccionar(usuario.ruta)">
                    <i [ngClass]="usuario.icono"></i>
                    {{ usuario.nombre | titlecase }}
                </button>
            </li>
        </ul>
      </p-accordionTab>
      <p-accordionTab header="Gestión de catálogo" [selected]="true">
        <ul class="elementos-sidebar">
        <li *ngFor="let catalogo of catalogo">
            <button type="button" class="boton-sidebar" (click)="seleccionar(catalogo.ruta)">
                <i [ngClass]="catalogo.icono"></i>
                {{ catalogo.nombre | titlecase }}
            </button>
        </li>
    </ul>
  </p-accordionTab>
    </p-accordion>
  </div>
</ng-template>


  </p-sidebar>