<p-sidebar [(visible)]="visible" [baseZIndex]="10000" [modal]="true" (onHide)="cerrarSidebar()">
  
    <ng-template pTemplate="headless">
      <div class="sidebar-container">
    <div class="sidebar-header">
        <img src="../../../assets/images/LOGO  WEB.png" alt="Logo" class="logo-sidebar">
      <button class="close-btn" (click)="cerrarSidebar()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    
    <button type="button" class="boton-sidebar" routerLink="/panel-admin">
      <i class="pi pi-ellipsis-v"></i>
      Panel de administración
  </button>
  <p-panelMenu [model]="items" [multiple]="true"></p-panelMenu>
  </div>
</ng-template>


  </p-sidebar>