<app-menu></app-menu>
<div class="div-style-inicio">
    <img id="imagenletras" class="img-letras-logo" src="../../../assets/images/LOGO  WEB.png" alt="Letras logo">
        <div class="p-inputgroup buscador-catalogo">
            <input pInputText type="text"  placeholder="Buscar por ISBN o Título" [(ngModel)]="busqueda">
            <p-button class="btn btn-secondary" type="submit" name="btn_buscar_inicio" (click)="buscarCatalogo()">Buscar</p-button>
        </div>
</div>
<app-footer></app-footer>

