.p-menubar {
    background-color: #eed09d;
    text-decoration: none;
    top:0;
    right: 0;
    left: 0;
    position: fixed;
}

.swal2-input-estimador {
    width: 70% !important;
    box-sizing: border-box;
  }
