.container-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 20px 0;
    padding: 0 15px;
}

.titulo-gestion {
    flex-grow: 1;
    text-align: center;
}

.columna-nombre { width: 200px; }
.columna-apelido { width: 250px; }
.columna-institucion { width: 150px; }
.columna-acciones { width: 120px; }

.p-datatable .p-datatable-thead > tr > th {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.p-datatable .p-datatable-tbody > tr > td {
    vertical-align: middle;
}

.container {
    margin-top: 5px;
    overflow-x: auto;
    padding-bottom: 2rem;
}

input[type="text"],
input[type="email"],
p-dropdown {
    width: 100%;  
    margin-bottom: 10px;
}

.btn-modificar {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}


@media (max-width: 768px) {
    .container-btn {
        flex-direction: column;
    }

    .titulo-gestion {
        order: -1; 
        margin-bottom: 10px;
    }

    .columna-nombre,
    .columna-apellido,
    .columna-institucion,
    .columna-acciones {
        width: auto; 
    }
}
