
<app-menu></app-menu>
<div class="listado-libros container mt-4 text-center" >
    <h3>Listado de libros</h3>
    <div class="p-inputgroup buscador-catalogo">
        <input pInputText type="text"  placeholder="Buscar por ISBN o Título" [(ngModel)]="busqueda">
        <button pButton icon="pi pi-search" (click)="cargaLibroBusqueda()"></button>
       
        <p-scrollTop></p-scrollTop>
    </div>

   

        <button tabindex="0" class="plusButton" (click)="crearSugerencia()">
            <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
              <g mask="url(#mask0_21_345)">
                <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
              </g>
            </svg>
      </button>


      

    <div class="grid cards">
        <div *ngFor="let libro of libros" class="p-col-12 p-md-4 card_individual">
            <p-card [header]="libro.titulo" [subheader]="libro.isbn">
                <ng-template pTemplate="header">
                    <img [src]="libro.url_imagen" class="card-image"  (error)="imagenPorDefecto($event)">
                </ng-template>
                <div class="p-card-content">
                    {{ libro.editorial | titlecase }}  
                </div>
                <p-footer class="p-card-footer">
                    <div class="mas_informacion ">
                        
                        <p-button icon="pi pi-info-circle" size="small" label="Más información" severity="info" (click)="masInformacion(libro.id)"></p-button>
                    </div>   
    
                </p-footer>
            </p-card>
        </div>
    </div>

    <p-divider align="center">Última modificación del catálogo: {{fecha_modif}}</p-divider>