<app-menu-dashboard></app-menu-dashboard>

<div class="card">
  <h1>Combinar fuentes</h1>
  <form [formGroup]="libroForm" (ngSubmit)="guardarLibro()">
    <p-dropdown [options]="opcionesTitulos" formControlName="titulo" placeholder="Selecciona un título"></p-dropdown>
    <p-dropdown [options]="opcionesISBNs" formControlName="isbn" placeholder="Selecciona un ISBN"></p-dropdown>
    <p-dropdown [options]="opcionesEditoriales" formControlName="editorial" placeholder="Selecciona una editorial"></p-dropdown>
    <p-dropdown [options]="opcionesDescripcion" formControlName="descripcion" placeholder="Selecciona una  descripción" class="descripcionespacio"></p-dropdown>
    <p-dropdown [options]="opcionesAnyo_Publicacion" formControlName="anyo_publicacion" placeholder="Selecciona un Año de Publicación"></p-dropdown>
    <p-rating formControlName="puntuacion" [cancel]="false"></p-rating>
    <input type="text" pInputText placeholder="Ubicación en el Estudio" formControlName="ubicacion_estudio" />
    <h5>Puntuación Masculino Genérico</h5>
    <input type="number" pInputText placeholder="Puntuación Masculino Genérico" formControlName="puntuacion_masculino_generico" min="0" class="w-full mb-3"/>
    <h5>Puntuación Menores</h5>
    <input type="number" pInputText placeholder="Puntuación Menores" formControlName="puntuacion_menores" min="0" class="w-full mb-3"/>
    <h5>Puntuación Adultos</h5>
    <input type="number" pInputText placeholder="Puntuación Adultos" formControlName="puntuacion_adultos" min="0" class="w-full mb-3"/>
    <h5>Puntuación Ubicación</h5>
    <input type="number" pInputText placeholder="Puntuación Ubicación" formControlName="puntuacion_ubicacion" min="0" class="w-full mb-3"/>
    <h5>Puntuación Actividades</h5>
    <input type="number" pInputText placeholder="Puntuación Actividades" formControlName="puntuacion_actividades" min="0" class="w-full mb-3"/>
    <p-dropdown [options]="opcionesUrl_imagen" formControlName="url_imagen" placeholder="Selecciona una URL de la imagen"></p-dropdown>

    <button pButton type="submit" label="Guardar" [disabled]="!libroForm.valid"></button>
  </form>

  <div *ngIf="imagenPrevisualizada" class="previsualizacion">
    <h2>Previsualización de la imagen</h2>
    <img [src]="imagenPrevisualizada" alt="Previsualización del libro" />
  </div>
</div>

