<app-menu></app-menu>
<div class="decalogo-container">
    <h1>Decálogo</h1>
    <ul>
      <li><h2>Hombres y mujeres deben compartir los mismos espacios</h2>
        <p>De manera recurrente encontramos en los libros infantiles de prehistoria (LIP) un predominio de 
        asignación de hombres a espacios extradomésticos y mujeres a espacios domésticos. Sin embargo, para la arqueología prehistórica los asentamientos son espacios de 
        interacción entre las personas y no hay pruebas científicas, y sobre todo en los grupos paleolíticos que demuestren la existencia de una división espacial por razón de sexo.</p></li>

      <li><h2>Hombres y mujeres deben compartir las mismas tareas o actividades</h2>
        <p>Si bien persiste en los LIP una concepción de género dicotómica, donde los hombres desempeñan tareas asociadas a la cultura, lo público, la fuerza,
           el intelecto y la producción, y las mujeres a la reproducción, lo privado, la pasividad, el cuerpo, la intuición y la obediencia; cabe señalar los estudios
            científicos sobre la presencia femenina en actividades como la caza, la producción lítica o metalúrgica. También, otros estudios hablan de las actividades
             de mantenimiento o doméstico-reproductivas como las más frecuentes y fundamentales para la sostenibilidad de la vida y en ellas concurren por igual tanto
              hombres como mujeres.</p></li>

      <li><h2>Hombres y mujeres deben adoptar las mismas posturas corporales</h2>
        <p>Es común encontrar en los LIP a las mujeres adoptando posturas corporales inactivas, de sumisión, subsidiarias o secundarias
           (de rodillas, sentadas, caminando detrás del hombre o en segundos planos). Al mismo tiempo, los hombres aparecen adoptando
            posturas erguidas, activas, de control o dominio. Esta diferenciación de posturas por sexo no obedece a ningún estudio
             científico contrastado y su representación en los LIP no contribuye a la educación en igualdad.</p></li>


      <li><h2>Hombres y mujeres deben tener la misma frecuencia de aparición social protagónica en las imágenes de los LIP</h2>
        <p>Diferentes estudios muestran una mayor presencia o frecuencia de aparición de protagonistas varones en las representaciones iconográficas de los LIP.
           Y no hay ninguna justificación para este tratamiento diferenciado. Este aspecto no se corresponde con los modelos de las sociedades prehistóricas
            que mantenían siempre un cierto equilibrio entre el número de hombres y de mujeres y tal como han demostrado muchos estudios sobre sociedades de
             cazadores-recolectores, nuestro éxito como especie radica precisamente en el protagonismo de ambos a través de la colaboración entre sexos.</p></li>


      <li><h2>Los LIP deben estar escritos en lenguaje inclusivo</h2>
        <p>Lo que no se nombra no existe, y eso es precisamente lo que ocurre en la mayoría de LIP. Se observa en la mayoría de formatos el empleo del masculino
           para referirse tanto a hombres como a mujeres. Este sexismo lingüístico contraviene la vigente Ley Orgánica de Educación (LOMLOE), para la que es un
            principio fundamental la educación inclusiva a través de la redacción de libros escolares en términos inclusivos.</p></li>


      <li><h2>Los frisos evolutivos y árboles filogenéticos presentes en los LIP deben construirse a partir de la presencia de hombres y mujeres</h2>
        <p>Normalmente no encontramos representaciones sobrela evolución humana en término inclusivos. Hay una patente invisibilidad de las mujeres
           en las ilustraciones de líneas cronológicas, frisos evolutivos y árboles filogenéticos. Estos recursos que tienen un gran potencial didáctico,
            pues ofrecen modelos explicativos de la evolución, están construidos a partir de figuras generalmente de hombres atléticos blancos,
             evidenciando una perspectiva andromorfa y excluyente de las mujeres.</p></li>


      <li><h2>Los LIP deben mostrar la agencia humana en términos plurales</h2>
        <p>Los LIP emiten un relato, no sólo incompleto sobre la presencia y el protagonismo de las mujeres en la prehistoria, sino también sumamente deformado
           en el caso de los hombres. Se hace preciso incorporar representaciones que muestren los cuerpos en términos de diversidad biológica y cultural.
            Personas como las ancianas, las de diversidad cognitiva y funcional, las niñas y los niños, las de colores de piel diversas, las de estaturas
             diferentes, etc, deben incorporarse en los relatos para que éstos no sean incompletos de lo que somos como especie.</p></li>


      <li><h2>Las emociones en los LIP son un elemento fundamental para conocer la naturaleza de las relaciones y el comportamiento humano</h2>
        <p>Los textos e imágenes de LIP hacen alusión a determinadas emociones que influyen en la percepción que niñas y niños hacen de la realidad.
           Por ejemplo, los hombres figuran asociados a emociones de autonomía, rivalidad, agresividad, rabia o ira. Mientras que las mujeres al amor,
            la compasión, la empatía, la paciencia y los cuidados. Esta asignación estereotipada impide el conocimiento de la naturaleza de las relaciones
             y del comportamiento humano.</p></li>


      <li><h2>Los LIP deben mostrar modelos de identidades diversas</h2>
        <p>Los libros infantiles de prehistoria pueden llegar a ser dispositivos donde niñas y niños se identifiquen con determinados personajes,
           influyendo en su desarrollo cognitivo, emocional o social. Por ello, hemos observado, qué tipo de identidades de hombres se refuerzan en los LIP.
            Por lo general, el panorama muestra un modelo excluyente y actualista donde los hombres están vinculados a identidades de éxito, de poder,
             a través de las relaciones entre cazadores-pescadores, creadores de tecnología, guerreros, inventores, constructores o aventureros, entre otras.
              Proponemos otro modelo, con base en los avances científicos sobre el paleolítico que muestre una identidad relacional-familiar basada en un
               modelo de masculinidad asociado a tareas de mantenimiento sin expresiones de poder sobre las personas y el entorno, con vínculo familiar y
                donde hay expresión de emociones y afectos por parte de los hombres.</p></li>


      <li><h2>Los LIP deben partir, para una buena transposición didáctica, de los avances científicos de referencia en la disciplina</h2>
        <p>Para finalizar, este decálogo propone acudir a las líneas historiográficas de referencia de la prehistoria a partir de las cuales,
           identificamos los objetivos a los que debiera responder una enseñanza para una correcta incorporación de contenidos sobre los hombres
            y mujeres en la prehistoria. Nos referimos a los estudios recientes que muestran una realidad evolutiva amplia, en la que la reproducción
             y la supervivencia son esenciales para el éxito de la especie, donde ambos sexos se complementan y el grupo sostiene a sus individuos.</p></li>
    </ul>
  </div>
