{% extends "base.html" %}

{% block title %}
Agregar Libro
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Agregar Nuevo Libro</h2>
    <form action="/agregar" method="POST">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="isbn" name="isbn" required>
        </div>
        <div class="mb-3">
            <label for="editorial" class="form-label">Editorial</label>
            <input type="text" class="form-control" id="editorial" name="editorial">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="año_publicacion" class="form-label">Año de publicación</label>
            <input type="text" class="form-control" id="año_publicacion" name="año_publicacion">
        </div>
        <div class="mb-3">
            <label for="puntuacion" class="form-label">Puntuación</label>
            <select class="form-select" id="puntuacion" name="puntuacion">
                <option> </option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ubicacion_estudio" class="form-label">Ubicación del estudio</label>
            <input type="text" class="form-control" id="ubicacion_estudio" name="ubicacion_estudio">
        </div>
        <div class="mb-3">
            <label for="url_imagen" class="form-label">URL de la imagen</label>
            <input type="text" class="form-control" id="url_imagen" name="url_imagen">
        </div>
        <button type="submit" class="btn btn-primary">Agregar Libro</button>
    </form>
</div>
{% endblock %}