{% extends 'base.html' %}

{% block title %}Busqueda automática de libros{% endblock %}

{% block content %}
<div class="container">
    <h3>Localizador de libros en la web</h3>
    <!-- Formulario de Búsqueda -->
    <form method="POST" action="{{ url_for('modificacion_auto.agregar_auto') }}"  enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar por ISBN o Título" name="busqueda_web">
            <button class="btn btn-outline-secondary" type="submit" name="btn_buscar_web">Buscar</button>
        </div>
    </form>
    
    <div id="spinner" class="spinner-style-agregar-auto text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>


    


        {% for libro in libros %}
        <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="mb-0">{{ libro[0] }}</h2>
                <img src="{{ url_for('static', filename='img/'+ libro[1]) }}" class="logo-style-agregar-auto logo" alt="Logo de {{ libro[0] }}"> 
        </div>

        {% if libro[2]==True%}
        <div class="card-style-agregar-auto card mb-4">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ libro[9] }}" class="img-fluid rounded-start card-img" alt="{{ libro[0] }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ libro[3] }}</h5>
                        <p class="card-text">ISBN-10: {{ libro[4] }}</p>
                        <p class="card-text">ISBN-13: {{ libro[5] }}</p>
                        <p class="card-text">Editorial: {{ libro[6] }}</p>
                        <p class="card-text">Fecha de Publicación: {{ libro[7] }}</p>
                        <p class="card-text">Descripción: {{ libro[8] }}</p>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <h4>No se ha encontrado información en esta fuente</h4>
        <hr>
    
        {% endif %}
        {% endfor %}


        {% if libros%}
        <div class="container my-4 text-center">
            <h4 class="mb-4">Seleccione el proveedor de información deseado o personalizalo</h4>
            <div class="d-flex  justify-content-between align-items-center">
                <a href="/agregar" class="btn btn-primary">Búsqueda Manual</a>
                {% for libro in libros %}
                    {% if libro[2] %}

                        <a href="{{ url_for('modificacion_auto.editar_libro_auto', auto_id=libro[0]) }}" class="btn btn-outline-primary">
                            <img src="{{ url_for('static', filename='img/'+ libro[1]) }}" class="logo" alt="Logo de {{ libro[0] }}" style="height: 20px;"> 
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="/combinacion_auto" class="btn btn-primary">Combinar fuentes</a>
            </div>
        </div>
        {% endif %}
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'none'; //spinner esté oculto inicialmente
    
        form.addEventListener('submit', function() {
            // Mostrar el spinner
            spinner.style.display = 'block';
        });
    });
</script>

{% endblock %}






