{% extends 'base.html' %}

{% block title %}Catálogo{% endblock %}

{% block content %}
<div class="container">
    <h3>Listado de libros</h3>
    <!-- Formulario de Búsqueda -->
    <form method="POST" action="{{ url_for('catalogo') }}"  enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar por ISBN o Título" name="busqueda">
            <button class="btn btn-outline-secondary" type="submit" name="btn_buscar">Buscar</button>
        </div>

        <!-- Botón para Exportar a CSV -->
        {% if current_user.is_authenticated %}
        <div class="text-end mb-4">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" id="btn_importar" class="btn btn-outline-primary">Importar CSV</button>
                <button type="submit" name="btn_exportar" class="btn btn-outline-primary">Exportar un CSV</button>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarLibro">Agregar Libro</button>
            </div>
        </div>
        <!-- Campo para cargar archivos csv -->
        <input type="file" name="archivo_csv" id="archivo_csv" accept=".csv" style="display: none;" onchange="this.form.submit()">
        {% endif %}
        

    </form>
    

    <!-- Listado de Libros -->
    <div class="container mt-3">
        {% for libro in libros %}
            {% if loop.index0 % 2 == 0 %}
                {% if not loop.first %}
                    </div>
                {% endif %}
                <div class="row g-3">
            {% endif %}
            <div class="col-md-3">
                <div class="card h-100 text-center">
                    <img src="{{ libro.url_imagen }}" class="card-img-top" alt="{{ libro.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text">ISBN: {{ libro.isbn }}</p>
                        <p class="card-text">Editorial: {{ libro.editorial }}</p>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{{ url_for('informacion_libro', id=libro.id) }}" class="btn btn-primary">Más información</a>
                        </li>
                    </ul>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('editar_libro', id=libro.id) }}" class="btn btn-outline-primary">Editar</a>
                            <a href="{{ url_for('eliminar_libro', id=libro.id) }}" class="btn btn-outline-danger">Eliminar</a>
                        {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center my-4">
                <hr>
                <p>Última modificación del catálogo: {{ fecha.ultima_modificacion.strftime('%d/%m/%Y %H:%M:%S') if fecha.ultima_modificacion else 'No disponible'  }}</p>
            </div>
        </div>
    </div>




<script>
    document.getElementById('btn_importar').addEventListener('click', function() {
        document.getElementById('archivo_csv').click();
    });
</script>

<!-- Modal Agregar Libro -->
<div class="modal fade" id="modalAgregarLibro" tabindex="-1" role="dialog" aria-labelledby="modalAgregarLibroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarLibroLabel">¿Cómo quiere agregar el libro?</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-around">
          <!-- Botones dentro de la modal -->
          <a href="/catalogo" class="btn btn-primary">
            <i class="fas fa-search"></i> <br> Busqueda automática
          </a>
          <a href="/agregar" class="btn btn-secondary">
            <i class="fas fa-pencil-alt"></i> <br> Agregar manualmente
          </a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}





