{% extends 'base.html' %}

{% block title %}
Editar Libro
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Libro</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" value="{{ libro.titulo }}" required>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="isbn" name="isbn" value="{{ libro.isbn }}" required>
        </div>
        <div class="mb-3">
            <label for="editorial" class="form-label">Editorial</label>
            <input type="text" class="form-control" id="editorial" name="editorial" value="{{ libro.editorial }}">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3">{{ libro.descripcion }}</textarea>
        </div>
        <div class="mb-3">
            <label for="año_publicacion" class="form-label">Año de publicación</label>
            <input type="text" class="form-control" id="año_publicacion" name="año_publicacion" value="{{ libro.año_publicacion }}">
        </div>
        <div class="mb-3">
            <label for="puntuacion" class="form-label">Puntuacion</label>
            <input type="text" class="form-control" id="puntuacion" name="puntuacion" value="{{ libro.puntuacion }}">
        </div>
        <div class="mb-3">
            <label for="ubicacion_estudio" class="form-label">Ubicación del estudio</label>
            <input type="text" class="form-control" id="ubicacion_estudio" name="ubicacion_estudio" value="{{ libro.ubicacion_estudio }}">
        </div>
        <div class="mb-3">
            <label for="url_imagen" class="form-label">URL de la imagen</label>
            <input type="text" class="form-control" id="url_imagen" name="url_imagen" value="{{ libro.url_imagen }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}