{%extends 'base.html'%}

{%block title%}Inicio{%endblock%}

{%block content%}

<div class="div-style-inicio">
    <img id="imagenletras" class="img-letras-logo rounded" src="../static/img/letras-logo.png" alt="Letras logo">
    <form method="POST" action="{{ url_for('pantallas_generales.inicio') }}"  enctype="multipart/form-data">
        <div class="input-group-style-inicio input-group">
            <input type="text" class="form-control" placeholder="Buscar por ISBN o Título" name="busqueda_inicio">
            <button class="btn btn-secondary" type="submit" name="btn_buscar_inicio">Buscar</button>
        </div>
    </form>
</div>

{%endblock%}