<app-menu></app-menu>
<div class="investigaciones-container">
    <h1>Referentes de Investigaciones de Libros</h1>
    <ul>
      <li>
        <h2>El model androcèntric als llibres d’Història d’EGB. Anàlisi i propostes. Actes del Segon Simpòsium sobre l’ensenyament de les Ciències Socials (pp. 425-442).</h2>
        <p>Bardavio, A., González, P. y Ruiz, M. (1991).</p>
        <p>Vic. Eumo Editorial</p>
      </li>
      <li>
        <h2>Las mujeres en la prehistoria: rompiendo estereotipos desde la educación. Íber: didáctica de las ciencias sociales, geografía e historia, 113, 59-64.</h2>
        <p>Bardavio, A., Mañé, S., Tort, X. (2023).</p>
        <a href="https://hdl.handle.net/11162/256523" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>La Prehistoria que nos rodea y la falsificación del pasado. Estrac Crític 6 (6), 254-267.</h2>
        <p>Cueto, M. y Camarós, E. 2012.</p>
      </li>
      <li>
        <h2>La Prehistoria en los medios publicitarios: el uso comercial de la distorsión del pasado. Espacio tiempo y forma, 15, 1-35.</h2>
        <p>Díaz, M. y Espinosa, O. (2022).</p>
        <a href="https://doi.org/10.5944/etfi.15.2022.31859" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Mujeres y Prehistoria: vivir el presente, pensar el pasado. En Las mujeres en la Prehistoria (pp. 15-26).</h2>
        <p>González-Marcén, P. (2006).</p>
        <p>Diputació Provincial de València Museu de Prehistòria</p>
      </li>
      <li>
        <h2>La otra prehistoria: creación de imágenes en la literatura científica y divulgativa. Arenal, 15:1, 91-109.</h2>
        <p>González-Marcén, P. 2009.</p>
      </li>
      <li>
        <h2>La fantasía de la individualidad. Sobre la construcción sociohistórica del sujeto moderno. Traficantes de sueños.</h2>
        <p>Hernando, A. (2018).</p>
      </li>
      <li>
        <h2>El Paleolítico en los dibujos animados: el universo de ficción prehistórica. El Futuro del Pasado, 5, 31-50.</h2>
        <p>Lombo, A., Catalán, T., Palacios, S., Parrilla-Bel, S. 2014.</p>
      </li>
      <li>
        <h2>La Prehistoria en el cine. Panta Rei. Revista digital de Historia y Didáctica de la Historia, 5, 25-29.</h2>
        <p>Martín, I. 2006.</p>
        <a href="https://doi.org/10.6018/pantarei/2006/2" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>La historia de las personas: reflexiones desde la historiografía y de la didáctica de las ciencias sociales durante los últimos 25 años. Panta Rei: revista digital de Historia y didáctica de la Historia, 167-196.</h2>
        <p>Massip, M., Castellví, J. y Pagès, J. (2020).</p>
        <a href="https://doi.org/10.6018/pantarei.445831" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Museos y Mujeres: la desigualdad en Arqueología. ArqueoWeb, 15, 270-280.</h2>
        <p>Querol, M. A. (2014).</p>
        <a href="https://webs.ucm.es/info/arqueoweb/numero-15.html#15" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Desarmar la masculinidad.</h2>
        <p>Ranea-Triviño, B. (2021).</p>
        <p>Catarata</p>
      </li>
      <li>
        <h2>Héroes de piedra en papel: La Prehistoria en el cómic. Complutum, 8, 285-310.</h2>
        <p>Ruiz, G. (1997).</p>
      </li>
      <li>
        <h2>La divulgación arqueológica: las ideas ocultas.</h2>
        <p>Ruíz, G. (2009).</p>
        <p>CPAG, 19, 11-36.</p>
      </li>
      <li>
        <h2>Los valores educativos de la prehistoria en la enseñanza obligatoria.</h2>
        <p>Ruíz, G. (2010).</p>
        <p>Marq, arqueología y museos, 4,161-179.</p>
      </li>
      <li>
        <h2>Ilustración prehistórica y tebeo de prehistoria: ¿Caminos divergentes o convergentes?</h2>
        <p>Ruiz, G. (2016).</p>
        <p>J. Albarca Pérez (ed), Prehistoria y Comic. (pp.60-86). Museo de Prehistôria de Valência.</p>
      </li>
      <li>
        <h2>Prehistorias de mujeres</h2>
        <p>Sánchez, M. (2022).</p>
        <p>Planeta</p>
      </li>
      <li>
        <h2>La mujer en la enseñanza de la Edad Media: un estudio a partir de los libros informativos.</h2>
        <p>San Martín y Marolla (2023).</p>
        <p>E.M. Cambil, A. R. Fernández y N. de Alba(Coords.). La Didáctica de las Ciencias Sociales ante el reto de los ODS (p. 33-41). Narcea.</p>
      </li>
      <li>
        <h2>Atribuciones de género y construcción de identidades en la literatura infantil sobre prehistoria</h2>
        <p>San Martín y Ortega Sánchez (2022).</p>
        <p>Bellaterra Journal of Teaching & Learning Language & Literature, 15(3), e973.</p>
        <a href="https://doi.org/10.5565/rev/jtl3.973" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Paleocaperucita Ocre en Atapuerca</h2>
        <p>San Martín, A. (2018).</p>
        <p>Fundación Caja de Burgos.</p>
      </li>
      <li>
        <h2>Empatía, empatía histórica y empatía prehistórica: una aproximación conceptual desde la enseñanza de las Ciencias Sociales.</h2>
        <p>San Martín, A. y Ortega-Sánchez, D. (2020).</p>
        <p>Didáctica de las Ciencias Experimentales y Sociales, (38), 3-16.</p>
        <a href="https://doi.org/10.7203/ dces.38.15648" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>El mono que hizo yoga. Cuerpo y motricidad en la enseñanza de la prehistoria.</h2>
        <p>San Martín, A. (2021).</p>
        <p>En EDUCA (ed.). Ebook Oficial de las Actas del 4º Congreso Mundial de Educación EDUCA 2021 (pp.177-189). ISBN 978-84-948288-8-1</p>
      </li>
      <li>
        <h2>Construyendo identidades plurales de género en Educación Primaria: evaluación del proyecto La Prehistoria cuenta. In Repensar el currículum de Ciencias Sociales: prácticas educativas para una ciudadanía crítica (pp. 581-588).</h2>
        <p>San Martín, A. y Ortega-Sánchez, D. (2022).</p>
        <p>Tirant Humanidades</p>
      </li>
      <li>
        <h2>El sexismo en los libros de texto: Análisis y propuestas de indicadores. </h2>
        <p>Subirats, M. (Coord.). (1993).</p>
        <p>Instituto de la Mujer</p>
      </li>
      <li>
        <h2>Past women</h2>
        <a href="https://www.pastwomen.net/" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Mujeres en la Historia</h2>
        <a href="https://www.mujeresenlahistoria.com/" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Women in archaeology</h2>
        <a href="https://www.archaeologypodcastnetwork.com/iia" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Diotima. Materials for the Study of Women and Gender in the Ancient World.</h2>
        <a href="https://diotima-doctafemina.org/" target="_blank">Leer Más</a>
      </li>
      <li>
        <h2>Grupo arqueología social.</h2>
        <a href="https://grupoarqueologiasocial.wordpress.com/" target="_blank">Leer Más</a>
      </li>
    </ul>
  </div>
  