<app-menu></app-menu>
    <div class="container">
        <header>
            <h1>Explicación de la herramienta de valoraciones</h1>
        </header>

        <section>
            <h2>Género</h2>
            <img src="../../../../assets/images/Genero.png" alt="Género" class="section-image genero-image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec ligula blandit egestas non sit amet leo. Suspendisse potenti.</p>
        </section>

        <section>
            <h2>Cantidades</h2>
            <img src="../../../../assets/images/cantidades.png" alt="Cantidades" class="section-image cantidades-image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec ligula blandit egestas non sit amet leo. Suspendisse potenti.</p>
        </section>

        <section>
            <h2>Actividades</h2>
            <img src="../../../../assets/images/Actividades.png" alt="Actividades" class="section-image actividades-image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec ligula blandit egestas non sit amet leo. Suspendisse potenti.</p>
        </section>

        <section>
            <h2>Ubicación</h2>
            <img src="../../../../assets/images/ubicacion.png" alt="Ubicación" class="section-image ubicacion-image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec ligula blandit egestas non sit amet leo. Suspendisse potenti.</p>
        </section>

        <section>
            <h2>Cómo se realizan los cálculos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec ligula blandit egestas non sit amet leo. Suspendisse potenti.</p>
        </section>

        <section>
            <h2>Cómo guardar la estimación</h2>
            <img src="../../../../assets/images/guardar estimacion.png" alt="Guardado de estimación" class="section-image guardar-image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a metus nec ligula blandit egestas non sit amet leo. Suspendisse potenti.</p>
        </section>
    </div>