
 <div class="login-wrapper">
    <div class="login-panel">
      <div class="login-header">
        <img src="../../../../assets/images/principal-logo.png" alt="Logo" class="logo">
        <h1>¡Bienvenido de nuevo!</h1>
        <p>Inicio de sesión</p>
      </div>
      <div class="login-form">
        <div>
          <span class="p-float-label">
            <input id="correo" type="text" [(ngModel)]="correo" pInputText>
            <label for="correo">Correo</label>
          </span>
        </div>
        <div>
          <span class="p-float-label">
            <input id="contrasenya" type="password" [(ngModel)]="contrasenya"pInputText>
            <label for="contrasenya">Contraseña</label>
          </span>
        </div>
        <button pButton label="Acceder" icon="pi pi-sign-in" (click)="iniciarSesion()"></button>

      </div>
    </div>
  </div>

